* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center; /* Center the h1 element */

}

div{
  position: relative;
  background-color: azure;
  border: 2px solid grey;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.p1{
  float: right;
  width: 100px;
  padding: 3px;
  margin: -2px -2px 0px;
  border: 3px solid grey;
  text-align: center;
  font-size: 125%;
  font-weight: Bold;
  background-color: yellow;
}
.p2{
  float: right;
  width: 100px;
  padding: 3px;
  margin: -2px -2px 0px;
  border: 3px solid grey;
  text-align: center;
  font-size: 125%;
  font-weight: Bold;
  background-color: brown;
}

.p3{
  float: right;
  width: 100px;
  padding: 3px;
  margin: -2px -2px 0px;
  border: 3px solid grey;
  text-align: center;
  font-size: 125%;
  font-weight: Bold;
  background-color: blue;
}
p{
  position: relative;
  clear: right;
}

/* Large devices */
@media (min-width: 1200px) {
  .col-lg-4{
    float: left;
    width: 30%; 
    margin: 5px;
  }
  
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    width: 50%;
  }
}
 
/* Small devices */
@media (max-width:767px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,{
  float: left;
  width: 100%;
} 

}